doctype html
html(lang="en")
  head
    title HARPS
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body#harp
    - var r = 20
      while r--
        .string(class=[`key-${r + 1}`])&attributes({'data-note': r + 1})
          - var n = 10
            while n--
              i