#harps {
  width: 200px;
  height: 60px;
  background: white;
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px outset black;
  cursor: col-resize;
}