@import './logo.scss';

// VARIABLES:
$i: 20;

* {
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
}

html {
  min-height: 100vh;
}

// Mixins
@mixin transition($transition-property, $transition-time, $method) {
  transition: $transition-property $transition-time $method;
}

.smooth {
  @include transition(all, 0.5s, ease-in-out);
}
.smooth-slow {
  @include transition(all, 2s, ease-in-out);
}

//
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: black;
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
    outline: 0;
  }
}

// Rectangle Layout
.string {
  width: calc(100vw / ($i));
  height: 100%;
  display: block;
  float: left;
  cursor: e-resize;
    i {
      @extend .smooth-slow;
      display: block;
      float: left;
      width: 10%;
      z-index: 9000;
      pointer-events: none;
    }
    @while $i > 0 {
      $x: $i * 1;
      i:nth-child(#{$i}) {
        height: calc(($x * $i) * 1%);
        margin-top: 0;
        background-color: rgb( $i * 50 , $i + 130 * .5, $i * 30 );
      }
      $i: $i - 1;
    }
    &:hover {
      height: 95%;
      @while $i > 0 {
        i:nth-child(#{$i}) {
          height: 5% * $i;
          margin-top: 55% * $i;
          background-color: rgb( $i * 50 * .4 , $i + 10, $i * 50 * 3 );
        }
        $i: $i - 1;
      }
    }  
}
